html {
  background-color: black;
  color: white;
}
body {
  background-color: transparent;
}
.red-status {
  stroke: #C81C25;
}
.yellow-status {
  stroke: #C8BC40;
}
.green-status {
  stroke: #00C80A;
}
